
/*resets for css. taken from meyersweb*/
html, body, body div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, 
b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, 
legend, table, caption, tbody, tfoot, thead, tr, th, 
td, article, aside, figure, footer, header, hgroup, menu, 
nav, section, time, mark, audio, video{

    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: bottom;
    background: transparent;

}
/*body{
    background:  #e0efef;
    max-height: 100%;
    max-width: 100%;
    font-size: 100%;*/
    
}
/*HM...Oh, well...*/
.clearfix {
  overflow: auto;
}
/*It works, so...*/
#blog_nebbs.clearfix{
    
  width: 84.6153846%;  /*1100/1300*/
  padding: 30px;
  margin:0 auto;
}
#nav_logo_section{

    position:relative;
    margin:0 auto;
    margin-top: -32px;
    padding-top: 10px;
    width: 100%;  /*setting size in relative terms, to function on smaller screens. */
    font-size: 1.7em;
    display: block;
    background-color: #cc99ff;
    float: left;
}

/*style for the ul section inside the header*/
.header_nav{
    
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: bottom; 
    list-style: none;
    font-family: "proxima nova light", Helvetica, Arial, sans-serif
}

/*li elements inside the header_nav. Maybe I should put font-family here...*/
.hn_items{

    display: inline-block;
    padding: 0.5em;
    float: left;
    position: relative;


}
/*Main container with information about myself. Used it to contain two other div's 
which will be positioned next to one another. Sort of centering div's within div's.*/
.container{

    position: relative;
    background-color:#e0efef;
    margin:0 auto;
    width: 100%;
    display: block;
    float: left;
   

}
/*Left div. Divided the width of the container in half. Works good with percentages, which is why I didn't 
put px sizes. Height is sort of redundant here, maybe? Added it so that the divs look better.*/
.section_central{
    
    background-color: #e0efef;
    display: inline-block;
    margin: 0 auto;
    padding-top: 50px;
    float: left;
    width: 50%;
    height:50%;
    position: relative;

}
/*As above, height redundant? */
.div_right{

    background-color: #e0efef;
    display: inline-block;
    margin: 0 auto;
    padding-top: 50px;
    float:right;
    width: 50%;
    height:50%;
    position: relative;
}
/*Setting up text related issues. So far I don't have to many text in the site, so 
this is not a big issue. So far.*/
p{
    font-family: sans-serif; color: #0000ee;
    font-size: 12px;
    font-style: normal;  
    padding: 5px 5px;
    
}

.text_setup{

    font-size: 16px;
    font-family: "proxima nova light", Helvetica, Arial, sans-serif;




}
/*Footer. Problem here with the image in the footer taking too long to load. 
Learn my young padawan!*/

#last_section{
    background-color: #cd3700;
    height: 50%;
    padding-bottom: 1.5em;
    background: url(images/music-music-player-record-player-1791.jpg) center;
    font-size: 1.6em;
	position: relative;
    clear:both;
   

}