body{
    background:  #e0efef;
    
}
.homepage{
   padding-top: 0px;
    padding-bottom: 0px;
}
#nav_logo_section{
    /*margin-bottom: 15em;*/
    font-size: 1.7em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    display: block;
    background-color: #cc99ff;
   
}

.container{
    background-color:#e0efef;
    height: 300px;
    /*width: 92.9681717%;*/
    /*padding-right:50px;*/
    display: table;

}

.section_central{
    background-color: #e0efef;
    display: inline-block;
    margin-left: 50px;
    padding-left: 20px;
    padding-top: 50px;
    /*background: url(above-clouds-cloudy-2596.jpg) no-repeat center;*/
    background-size: cover;
    clear: both;
    float: left;
    width: 33.33%;
    vertical-align:middle;
/*    position: relative;*/

}
.div_right{
    background-color: #e0efef;
    display: inline-block;
    margin-right: 50px;
    padding-right: 20px;
    padding-top: 50px;
    /*background: url(apple-browser-computer-3080.jpg) no-repeat center; */
    background-size: cover;
    position: relative;
    float:right;
    width: 33.33%;
    vertical-align: middle;
 


}
p{
    font-family: sans-serif; color: #0000ee;
    font-size: 12px;
    font-style: normal;  
    padding: 5px 5px;

}

#last_section{
    background-color: #cd3700;
    padding-bottom: 1.5em;
    background: url(music-music-player-record-player-1791.jpg) center;
    font-size: 1.6em;
	position: relative;
    clear:both;


}